/*############## ALL ##################*/

/*############## MAIN VIEW ##############*/

/*############### MODIFY ################*/

#mainViewContainer #menuItemCondos > .label{
    -fx-graphic: url(../images/icons/home.png);
}

#mainViewContainer #menuItemDatabase > .label{
    -fx-graphic: url(../images/icons/database-settings.png);
}

#mainViewContainer #menuItemAddCondo > .label{
    -fx-graphic: url(../images/icons/add.png);
}

/*############## STAGE DATABASE ###############*/
#stageDatabaseContainer #buttonConnection{
    -fx-graphic: url(../images/icons/database-ok.png);
}

#stageDatabaseContainer #buttonSaveSettings{
    -fx-graphic: url(../images/icons/database-save-settings.png);

}

#stageDatabaseContainer #buttonTestConnection{
    -fx-graphic: url(../images/icons/database-test-connection.png);
}

/*############## STAGE ADD CONDO ###############*/
#stageAddCondoContainer #buttonAdd{
    -fx-graphic: url(../images/icons/add.png);
}

#stageAddCondoContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}
