/*############## MAIN VIEW ##############*/
#mainViewContainer #menuItemDatabase > .label{
    -fx-graphic: url(../images/icons/database.png);
}

/*############## STAGE DATABASE ###############*/
#stageDatabaseContainer #buttonConnection{
    -fx-graphic: url(../images/icons/database-export.png);
}

#stageDatabaseContainer #buttonSave{
    -fx-graphic: url(../images/icons/content-save-all.png);

}

#stageDatabaseContainer #buttonTestConnection{
    -fx-graphic: url(../images/icons/database-search.png);
}
