/*############## ALL ##################*/

/*############## MAIN VIEW ##############*/

/*############### MODIFY ################*/

#mainViewContainer #menuItemCondos > .label{
    -fx-graphic: url(../images/icons/home.png);
}

#mainViewContainer #menuItemDatabase > .label{
    -fx-graphic: url(../images/icons/database-settings.png);
}

#mainViewContainer #menuItemAddCondo > .label{
    -fx-graphic: url(../images/icons/home-plus.png);
}

#mainViewContainer #menuItemModifyCondo > .label{
    -fx-graphic: url(../images/icons/home-modify.png);
}

#mainViewContainer #menuItemAdministrator > .label{
    -fx-graphic: url(../images/icons/account.png);
}

#mainViewContainer #menuItemAddAdministrator > .label{
    -fx-graphic: url(../images/icons/account-plus.png);
}

#mainViewContainer #menuItemModifyAdministrator > .label{
    -fx-graphic: url(../images/icons/account-edit.png);
}

#mainViewContainer #menuItemBill > .label{
    -fx-graphic: url(../images/icons/credit-card.png);
}

#mainViewContainer #menuItemAddBill > .label{
    -fx-graphic: url(../images/icons/credit-card-plus.png);
}

#mainViewContainer #menuItemBillMonth > .label{
    -fx-graphic: url(../images/icons/bill-month.png);
}

/*############## STAGE DATABASE ###############*/
#stageDatabaseContainer #buttonConnection{
    -fx-graphic: url(../images/icons/database-ok.png);
}

#stageDatabaseContainer #buttonSaveSettings{
    -fx-graphic: url(../images/icons/database-save-settings.png);

}

#stageDatabaseContainer #buttonTestConnection{
    -fx-graphic: url(../images/icons/database-test-connection.png);
}

/*############## STAGE ADD CONDO ###############*/
#stageAddCondoContainer #buttonAddCondo{
    -fx-graphic: url(../images/icons/home-plus.png);
}

#stageAddCondoContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

/*############## STAGE MODIFY CONDO ###############*/
#stageModifyCondoContainer #buttonModifyCondo{
    -fx-graphic: url(../images/icons/home-modify.png);
}

#stageModifyCondoContainer #buttonDeleteCondo{
    -fx-graphic: url(../images/icons/home-delete.png);
}

#stageModifyCondoContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

/*############## STAGE ADD ADMIN ###############*/

#stageAddAdministratorContainer #buttonAddAdministrator{
    -fx-graphic: url(../images/icons/account-plus.png);
}

#stageAddAdministratorContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

/*############## STAGE MODIFY ADMIN ###############*/

#stageModifyAdministratorContainer #buttonModifyAdministrator{
    -fx-graphic: url(../images/icons/account-edit.png);
}

#stageModifyAdministratorContainer #buttonDeleteAdministrator{
    -fx-graphic: url(../images/icons/account-delete.png);
}

#stageModifyAdministratorContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

/*############## STAGE ADD BILL ###############*/

#stageAddBillContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

#stageAddBillContainer #buttonAddBill{
    -fx-graphic: url(../images/icons/credit-card-plus.png);
}

/*############## STAGE ADD BILL MONTH ###############*/

#stageBillMonthContainer #buttonExit{
    -fx-graphic: url(../images/icons/exit-to-app.png);
}

#stageBillMonthContainer #buttonAddBillMonth{
    -fx-graphic: url(../images/icons/bill-month.png);
}
